<form [formGroup]="formVerify" (submit)="verify()">

    <mat-form-field class="form-field-verify">
        <input type="text" formControlName="first" #first (keyup)="onKeyFirst($event)" maxlength="1" matInput placeholder="0">
    </mat-form-field>

    <mat-form-field class="form-field-verify">
        <input type="text" formControlName="second" #second (keyup)="onKeySecond($event)" maxlength="1" matInput placeholder="0">
    </mat-form-field>

    <mat-form-field class="form-field-verify">
        <input type="text" formControlName="three" #three (keyup)="onKeyThree($event)" maxlength="1" matInput placeholder="0">
    </mat-form-field>

    <mat-form-field class="form-field-verify">
        <input type="text" formControlName="four" #four (keyup)="onKeyFour($event)" maxlength="1" matInput placeholder="0">
    </mat-form-field>

    <mat-form-field class="form-field-verify">
        <input type="text" formControlName="five" #five (keyup)="onKeyFive($event)" maxlength="1" matInput placeholder="0">
    </mat-form-field>
    
    <br />
    
    <button type="submit" [disabled]="!formVerify.valid" mat-raised-button color="primary">CONFIRMAR</button>
</form>